#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





body {
  width: 100vw;
}

main {
  display: flex;
  gap: 30px;
}

h1 {
  margin: 0;
  font-size: 30px;
  text-align: left;
}

main h2 {
  margin: 0;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form > section {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.resume {
  border: 1px solid black;
  box-sizing: border-box;
  height: calc(297px * 4);
  width: calc(210px * 4);
  padding: 20px;
}

header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

@media print {
  header, .form {
    display: none !important;
  }

  .resume {
    border: none;
    padding: none;
  }
}